{% include "header.html" %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <form method="POST" action="{{ url_for('update',id=id) }}" class="text-center" style="max-width: 360px; width: 100%;"
          novalidate>
        {{ form.hidden_tag() }}

        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
             class="bi bi-backpack2-fill me-3 mb-3" viewBox="0 0 16 16" href="{{url_for('home')}}">
            <path d="M5 13h6v-3h-1v.5a.5.5 0 0 1-1 0V10H5z"/>
            <path d="M6 2v.341C3.67 3.165 2 5.388 2 8v1.191l-1.17.585A1.5 1.5 0 0 0 0 11.118V13.5A1.5 1.5 0 0 0 1.5 15h1c.456.607 1.182 1 2 1h7c.818 0 1.544-.393 2-1h1a1.5 1.5 0 0 0 1.5-1.5v-2.382a1.5.5 0 0 0-.83-1.342L14 9.191V8a6 6 0 0 0-4-5.659V2a2 2 0 1 0-4 0m2-1a1 1 0 0 1 1 1v.083a6 6 0 0 0-2 0V2a1 1 0 0 1 1-1m0 3a4 4 0 0 1 3.96 3.43.5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14A4 4 0 0 1 8 4M4.5 9h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5"/>
        </svg>

        <h1 class="h3 mb-3 fw-normal">Update Skill</h1>

        <div class="form-floating mb-3">
            {{ form.new_level(class="form-control", placeholder="skilllevel") }}
            <label for="level">Skill Level</label>
            {% if form.new_level.errors %}
            <div class="text-danger">
                {% for error in form.new_level.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>


        <div class="form-floating mb-3">
            {{ form.new_projects(class="form-control", placeholder="enter your projects") }}
            <label for="projects">Projects</label>
            {% if form.new_projects.errors %}
            <div class="text-danger">
                {% for error in form.new_projects.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>


        <button type="submit" class="btn btn-dark w-100 py-2">Update</button>
    </form>
</div>

{% include "footer.html" %}
